<div class="container mx-auto">
  <h1 class="text-3xl font-bold underline mb-4">
    All Products
  </h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <% @products.each do |product| %>
      <div class="bg-white rounded shadow-md p-6">
        <div class="aspect-w-3 aspect-h-2 mb-4">
          <img src="<%= Faker::LoremFlickr.image(size: '300x200') %>" alt="Product Image" class="object-cover rounded">
        </div>
        <p class="font-semibold">
          Name: <%= product.name %>
        </p>
        <p class="mt-2">
          Unit Price: <%= number_to_currency(product.price) %>
        </p>
        <div class="flex justify-end mt-4">
          <%= link_to "Edit", edit_product_path(product), class: "text-blue-500 underline mr-2" %>
          <%= link_to "Delete", product_path(product), method: :delete, data: {confirm: "Are you sure?"}, class: "text-red-500 underline" %>
          <%= button_to "Add to Cart", line_items_path(:product_id => product.id), method: :post, class: "bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "New product", new_product_path, class: "block mt-4 text-blue-500 underline" %>
</div>
